@model BookViewModel

@{
    ViewBag.Title = "Update book";
    Layout = "_Layout";
}

@using (Html.BeginForm("UpdateBookInLibrary", "Library", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, string.Empty, new {@class = "text-danger"})
    <div class="mb-3">
        @Html.LabelFor(model => model.Name, new {htmlAttributes = new {@class = "form-label"}})
        @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control"}})
        @Html.ValidationMessageFor(model => model.Name)
    </div>
    <div class="mb-3">
        @Html.LabelFor(model => model.Created, new {htmlAttributes = new {@class = "form-label"}})
        @Html.EditorFor(model => model.Created, new {htmlAttributes = new {@class = "form-control"}})
        @Html.ValidationMessageFor(model => model.Created)
    </div>
    <div class="mb-3">
        @Html.LabelFor(model => model.TotalPages, new {htmlAttributes = new {@class = "form-label"}})
        @Html.EditorFor(model => model.TotalPages, new {htmlAttributes = new {@class = "form-control"}})
        @Html.ValidationMessageFor(model => model.TotalPages)
    </div>
    <div class="mb-3">
        @Html.LabelFor(model => model.Footnote, new {htmlAttributes = new {@class = "form-label"}})
        @Html.EditorFor(model => model.Footnote, new {htmlAttributes = new {@class = "form-control"}})
        @Html.ValidationMessageFor(model => model.Footnote)
    </div>
    <div class="mb-3">
        @Html.LabelFor(model => model.City, new {htmlAttributes = new {@class = "form-label"}})
        @Html.EditorFor(model => model.City, new {htmlAttributes = new {@class = "form-control"}})
        @Html.ValidationMessageFor(model => model.City)
    </div>
    <div class="mb-3">
        @Html.LabelFor(model => model.Publisher, new {htmlAttributes = new {@class = "form-label"}})
        @Html.EditorFor(model => model.Publisher, new {htmlAttributes = new {@class = "form-control"}})
        @Html.ValidationMessageFor(model => model.Publisher)
    </div>
    <div class="mb-3">
        @Html.LabelFor(model => model.Authors, new {htmlAttributes = new {@class = "form-label"}})
        <select class="form-control" multiple aria-label="Authors select" asp-for="Authors"
                asp-items="new @SelectList(ViewBag.Authors, "Id", "Lastname")">
        </select>
        @Html.ValidationMessageFor(model => model.Authors)
    </div>
    <div class="mb-3">
        @Html.LabelFor(model => model.ISBN, new {htmlAttributes = new {@class = "form-label"}})
        @Html.EditorFor(model => model.ISBN, new {htmlAttributes = new {@class = "form-control"}})
        @Html.ValidationMessageFor(model => model.ISBN)
    </div>

    <button type="submit" class="btn btn-primary">Add</button>
}
